/* TABELA */
table {
  width: 100%; /* Define a tabela para ocupar 100% da largura do contêiner */
  border-collapse: collapse;
}
/* Estilo para os botões */
main > div > button {
  width: 100px;
  margin: 20px 10px 20px 0; /* Margens: topo, direita, baixo, esquerda */
  display: inline-block;
}

/* Adiciona espaço entre os botões e a tabela */
table {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
}

tbody,
th,
td {
  border: 1px solid #aeaeae;
  padding: 8px; /* Aumentar o padding para melhorar a legibilidade */
}

/* Estilos para os cabeçalhos da tabela */
th {
  background-color: gray; /* Cor de fundo dos cabeçalhos */
  color: white; /* Cor do texto dos cabeçalhos */
  text-align: center; /* Centraliza o texto nos cabeçalhos */
  font-weight: bold; /* Deixa o texto em negrito */
}

tbody > tr > th,
tbody > tr > td {
  padding: 8px; /* Aumentar o padding para melhorar a legibilidade */
}

tbody > tr > th:nth-child(1),
tbody > tr > td:nth-child(1) {
  text-align: center;
}

tbody > tr > th:nth-child(3),
tbody > tr > td:nth-child(3) {
  text-align: center;
  width: 230px;
}

tbody > tr > td > button {
  width: 100px;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}

/* Responsividade para tabelas */
@media (max-width: 768px) {
  table,
  tbody,
  th,
  td {
    display: block; /* Exibe as células como blocos em telas menores */
    width: 100%; /* Ocupa 100% da largura */
  }

  tbody > tr {
    margin-bottom: 1rem; /* Espaçamento entre linhas */
  }

  tbody > tr > td {
    text-align: left; /* Alinha o texto à esquerda para melhor legibilidade */
    padding: 10px; /* Adiciona padding para uma melhor aparência */
    box-sizing: border-box; /* Garante que o padding não afete a largura */
  }

  tbody > tr > th {
    display: none; /* Oculta os cabeçalhos em dispositivos pequenos */
  }
}
